</body>
<footer> copyright @smitprajapati 2022</footer>
<script>
    function openlist(event){
             event.target.parentNode.parentNode.submit();
    } 
    function deletelist(event){
             event.target.parentNode.submit();
    } 
</script>
</html>